h1 {
    border-style: double;
}
h2 {
    border-style: double;
}
p {
   border-style: double;
}

body {
    background-color: lightgrey;
}

li {
    text-align: left;
    border-style: double;
    
}

img {
    width: 203px;
}

